*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}


a{
    text-decoration: none;
    color: black;
}

body{
    font-family: "Open Sans", sans-serif;
}


hr{
    margin-top: 30px;
    margin-bottom: 20px;
}


ul{
    list-style: none;
}

.li-margin{
    margin-top: 20px;
}

.fake-button {
    color: white;
    background-color: blue;
    text-align: center;
    width: 70%;
    padding: 10px 30px;
    font-size: 14px;
}
