*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}


a{
    text-decoration: none;
    color: black;
}

body{
    font-family: "Open Sans", sans-serif;
}


hr{
    margin-top: 30px;
    margin-bottom: 20px;
}

li{
    margin-bottom: 20px;
}

ul{
    list-style: none;
}