/* HEADER */

.header-container {
    background-color: white;
    position: sticky;
    top: 0;
}

.navbar-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px;
}

.left-nav {
    display: flex;
    justify-content: flex-start;
    width: 33.3%;
    padding: 5px;

}

.right-nav {
    display: flex;
    justify-content: flex-end;
    width: 33.3%;
    padding: 5px;

}

.list-navbar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: space-around;
}

.fake-button{
    color: white;
    background-color: blue;
    padding: 10px 20px;
}

