/* HEADER */

.header-container {
    background-color: white;
    position: sticky;
    top: 0;
}

.navbar-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px;
}

.left-nav {
    display: flex;
    justify-content: flex-start;
    width: 33.3%;
    padding: 5px;

}

.right-nav {
    display: flex;
    justify-content: flex-end;
    width: 33.3%;
    padding: 5px;

}

.list-navbar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: space-around;
}

.fake-button {
    color: white;
    background-color: blue;
    padding: 10px 30px;
}

/* MAIN */

/* jumbotron */

.jumbotron-section {
    padding-top: 40px;
    background-color: aquamarine;
}

.jumbo-container {
    margin: 0 auto;
    width: 60%;
}

.jumbo-title {
    font-size: 68px;
    margin-bottom: 40px;
}

.jumbo-flex-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.jumbo-cta {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
}

.jumbo-img {
    max-width: 75%;
}

.jumbo-img img {
    width: 100%;
    height: 100%;
}

.cta {
    font-size: 14px;
}

.arrow-down {
    font-size: 68px;
}

/* section 1 piano business */

.fourth-section {
    background-color: darkcyan;
}

.first-section-container {
    margin: 0 auto;
    width: 55%;
}

.billing-choice{
    display: flex;
    width: 100%; 
    padding: 50px 0;
    justify-content: flex-start;
    text-align: left;
}

.billing-month{
    margin-right: 50px;
}

.plans-container{
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.plan{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 2px solid grey;
    width: 30%;
   
}

.plan-title{
    text-align: center;
    padding: 10px 0;
}

.lists{
    padding-left: 15px;
    /* display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; */
}

.plan-list{
    list-style: none;
}

.plan-btn{
    display: flex;
    justify-content: center;
}

.buy-now{
    display: flex;
    justify-content: flex-start;
    padding-left: 15px;
}


.buy-now-link{
    text-decoration: underline;
    color: blue;
}

.hr-plans{
    width: 30%;      
  margin-left: 0;   
  border: none;     
  border-top: 2px solid grey;
}

.check-list{
    color: aqua;
}

/* section 2 enterprise */

.second-section-container{
    width: 55%;
    margin: 200px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 2px solid grey;
}


.top-form{
    
    text-align: center;
    width: 100%;
    margin: 10px 0;
    padding: 5px;
    border-bottom: 2px solid gray;
}

.bot-form{
    /* border: 2px solid grey; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 25px;
}

.text-form{
    display: block;
    width: 70%;
}

.cta-form{
    display: block;

}


/* section 3 trova partner */

.third-section-container{
    width: 55%;
    margin: 0 auto;
    display: flex;
}

.img-section-third{
    width: 60%;
}

.img-section-third > img{
    width: 100%;
}

.p-section-third{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    padding: 15px;   
}

.cta-third-section{
    width: 40%;
    border: 2px solid black;
    text-align: center;
    padding: 5px 5px;
}


/* section4 esegui più operazioni */

.fourth-section-container{
    display: block;
    width: 55%;
    margin: 200px auto;
}



/* section 5 500000 team */